body {
  font-family: Arial, sans-seri;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; 
  color: #333; 
}

header {
  background-color: #ff6f61; 
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
}

form {
  margin-bottom: 20px;
  background: #685bcd; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  color: #290318; 
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #b31cb0; 
  border-radius: 5px;
  background-color: #e3d1da; 
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f61; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #d9534f;
}

#partyList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  border: 2px solid #007bff; 
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f8ff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

section h3 {
  color: #007bff; 
  margin-bottom: 10px;
}

section p {
  margin: 5px 0;
  color: #080707; 
}

button {
  background-color: #ff6f61; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d9534f; 
}
